@font-face {
    font-family: "Pony";
    src: url("./font/Pony.ttf");
}

.App {
    font-family: "Pony";
    background: linear-gradient(to right, rgb(243, 84, 21), rgb(212, 81, 76));
    min-height: 100vh;
    letter-spacing: 2px;
}